
/*-------------------------------------------  general -------------------------------------------------------*/
body{
	background: #ffffff url(../img/underwater.jpg);
	font-size: 62.5%;
	font-family: helvetica, arial, sans-serif;
	color:#25383C; /*changes color of the whole text*/
	margin-top: 0;
	box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.35);
	-webkit-box-shadow: 5px 6px 5px rgba(255, 255, 255, 0.35);
	-moz-box-shadow: 5px 6px 5px rgba(255, 255, 255, 0.35);
	width: 100%;
	
	
	
	
}
#wrapper{
	
	width:960px;
	background: #E8F5D4;
	margin: 0 auto;
	padding-left: 1%;
	padding-right: 1%;
	box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.35);
	-webkit-box-shadow: 5px 6px 5px rgba(255, 255, 255, 0.35);
	-moz-box-shadow: 5px 6px 5px rgba(255, 255, 255, 0.35);

}
/*-------------------------------------------  header -------------------------------------------------------*/

header{
	border-bottom: 1px solid #bbb8bf; /*changes color of border under project name*/
		
}
h1{
	margin-top: 0;
	padding-top: 10px;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
h2{
	margin-top: 20px;
	text-shadow: 0 1px 0 #92E2C2;
}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
	background: #92E2C2;  /*changes color of the background of the table*/
	border-collapse: collapse;
	width: 100%;
	box-shadow: .313em .313em .313em rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: .313em .313em .313em rgba(0, 0, 0, 0.35);
	-moz-box-shadow: .313em .313em .313em rgba(0, 0, 0, 0.35);
}
tr{
	display: table-row;
	border-color: inherit;
}

	table tr:hover td a{
	background: #1C6Ba0;
	color: white;
	}
	
.odd{
	background: #3DBEA9; /*changes color of the stripes table*/
}
th{
	text-align: left;
	text-shadow: 1px 1px #3DBEA9;
	padding: 1em 1em .5em;
	font-weight: bold;
	font-size: 120%;
	color: #E8F5D4;  /*changes color of table hd text*/
	background: #B38164; /*changes color of table hd background*/
}
th:first-child{
	/*border-right: 1px solid #6a7680;*/
}
td{
	padding: 1em 1em;
	width: 69%;
}
td:first-child{
	/*border-right: 1px solid #6a7680;*/
}
/*-------------------------------------------  top section-------------------------------------------------------*/
.main{

	overflow: hidden;
	/*border-bottom: 1px solid #bbb8bf;*/
}
.main p{
	width: 67.5%;
	float: left;
	font-size: 1.4em;

}
.main figure{
	float: right;
	margin: 15px 0 20px 0;
	width: 30%;
	

}
figure img{
	width: 95%;
	border: double;
	border-color: #E8F5D4;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
	
}
.sec{
	clear: both;
	margin-top: 40px;
	
}

/*-------------------------------------------  links -------------------------------------------------------*/
a{
	text-decoration: none;
	font-size: 1.3em;
	color: #475a80;  /*changes color of the links*/
}
a:hover{
	text-decoration: underline;
}
/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 90%;
}
/* ------------------------------------------- Media Queries -------------------------------------------------------*/


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#wrapper{
			width:98%;
		}	
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#wrapper{
			width:98%;

		}
		.main figure{
			width: 35%;
		}
		.main figure img{
			width: 100%;	
		}
		.main p{
			width: 60%;	
		}
		td{
			width: 50%;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#wrapper{
			width: 95%;
	
		}
		.main, header, h2{
			padding-left: 1%;
			padding-right: 1%;
		}
		.main figure{
			width: 100%;
			float: right;
		}
		.main p{
			width: 98%;
		}
		.main figure img{
			width: 100%;
		}
		td{
			width: 50%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#wrapper{
			width: 98%;
			min-width: 480px;
			max-width: 767px;
		}
		.main p{
			width: 100%;
		}
		td{

			width: 50%;
		}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#wrapper{
			width: 96%;
		}
		figure {
			display: none;
		}
		figcaption{
			display: none;
		}
		.sec{
			margin-top: 10px;
		}
		tr{
			height: 44px;
			line-height: 44px;
		}
		td{
			width: 50%;
			
		}
	}


